<div class="row">
      {% for products in product.items %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                    <div class="card h-100">
                    {% if products.seller == current_user %}
                          <a href="{{url_for('my_shop',username=current_user.username)}}">
                           <div class="card-img-top"
                                 style="background: url('{{ url_for('static',filename='products_images/' + products.product_image_name) }}'); background-repeat:no-repeat; background-size: cover; height:200px;width:100% ">
                                 </div>
                               </a> 
                    {% else %} 
                          <a href="{{ url_for('products',Products_id=products.id,username=products.seller.username)}}"> 
                            <div class="card-img-top"
                                 style="background: url('{{ url_for('static',filename='products_images/' + products.product_image_name) }}'); background-repeat:no-repeat; background-size: cover; height:200px;width:100% ">
                                 </div>
                               </a>
                    {% endif %}    
                        <div class="card-body">
                            <h5 class="card-title">
                        {% if products.seller == current_user %}    
                                <a href="{{url_for('my_shop',username=current_user.username)}}">{{ products.product_name }}
                                  </a>
                        {% else %}
                                <a href="{{ url_for('products',Products_id=products.id,username=products.seller.username)}}">{{ products.product_name }}
                                  </a>
                        {% endif %}          
                                 </h5>
                                <small class="text-muted" style="color:green;">Rating:</small>
                                 <span class="fa fa-star checked" style="color: orange;"></span>
                                 <span class="fa fa-star checked" style="color: orange;"></span>
                                 <span class="fa fa-star checked" style="color: orange;"></span>
                                 <span class="fa fa-star" style="color: white;"></span>
                                 <span class="fa fa-star" style="color: white;"></span>
                                 <small class="text-muted" style="color:green;">34.6k</small>

                                 <h6 style="color: gray">Max Order:{{ products.max_order}}</h6>
                                  <h6 style="color: gray">One piece:{{ products.one_piece }} Tsh</h6>
                                  <h6 style="color: gray">Free shipping <i class="fa fa-truck" aria-hidden="true"></i>
                                    <ul>
                                      <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{ products.free_shipping1 }}</li>
                                      <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{ products.free_shipping2 }}</li>
                                    </ul>
                                  </h6>
                              {% if products.seller == current_user %}
                                    <form action="{{url_for('Delete_product',username=current_user.username,Products_id=products.id)}}" method="POST">       
                                      <button class="btn btn-outline-primary" type="submit" id="buy_btn" style="float: left;">Delete</button>
                                     </form>
                                     &nbsp;&nbsp;
                                     <a href="{{url_for('Update_product',username=current_user.username,Products_id=products.id)}}"><button type="submit" class="btn btn-outline-primary" id="cart_btn">
                                     Update</button></a>
                              {% else %} 
                                    <form action="{{url_for('Add_to_cart',Products_id=products.id)}}" method="POST">       
                                    <button class="btn btn-outline-primary" type="submit" id="cart_btn" style="float: left;"><i class="fa fa-cart-plus"></i>Cart</button>
                                    </form>
                                    &nbsp;&nbsp;     
                                    <a href="{{ url_for('products',Products_id=products.id,username=products.seller.username)}}"><button type="button"  class="btn btn-outline-primary" id="buy_btn">Go to seller
                                    </button></a>
                              {% endif %}      
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
      {% endfor %}
  </div>
  <!---pagination --->
  {% for page_num in product.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
          {% if product.page == page_num %}
              <a class="btn btn-info mb-4" class="align center" href="{{url_for('home',page=page_num)}}">{{ page_num }}</a>
          {% else %}
              <a class="btn btn-outline-info mb-4" class="align center" href="  {{url_for('home',page=page_num)}}">{{ page_num }}</a>
          {% endif %}        
      {% else %}
         ...
      {% endif %}   
  {% endfor %}
<!--end pagination---->