
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/to_seller.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
   {% if title %}
        <title>AzizShop | {{ title }}</title>
    {% else %}
        <title>TniteShop</title>
    {% endif %}
</head>
<style type="text/css">
  .card{
        background-color: black;
      }
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: black;
  padding: 5px 20px 15px 20px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 30px;
}

label {
  margin-bottom: 10px;
  color: white;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}


span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}  
      }
    </style>
<body>

<div class="wrapper">
    <div class="sidebar">
      <h2>AzizShop</h2>
         <img class="rounded-circle account-img" src="{{url_for('static',filename='Users_profiles/' + product.seller.profile) }}">
         <center><h4>{{product.seller.username}}</h4></center>
        <ul>
            <li><a href="{{ url_for('home')}}"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
            <li><a href="#"><i class="fas fa-phone"></i>Call</a></li>
            <li><a href="#"><i class="fas fa-comment"></i>Chart</a></li>
        </ul>
         <a href="#"><button type="submit" class="btn btn-outline-primary" id="Cart_btn">Follow</button></a>

        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="main_content">
    <nav class="navbar navbar-expand-lg  navbar-light bg-faded"> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <form class="form-inline">
          <div class="input-group">                    
         <input type="text" class="form-control" placeholder="Search products" id="Searchbox">
         <div class="input-group-append">
         <button type="button" class="btn btn-secondary" id="Searchbtn"><i class="fa fa-search"></i></button>
        </div>
        </div>
        </form>
       </ul>
       </div>
      </nav>
      <div class="row">
      	<div class="col-6">
      		<h5 style="color: blue;"> {{ product.product_name }}</h5>
	      <img src="{{ url_for('static',filename='products_images/' + product.product_image_name) }}" style="height: 400px; width: 100%;"> 
	  		</br></br>
	  		<small class="text-muted" style="color:green;">Rating:</small>
             <span class="fa fa-star checked" style="color: orange;"></span>
             <span class="fa fa-star checked" style="color: orange;"></span>
             <span class="fa fa-star checked" style="color: orange;"></span>
             <span class="fa fa-star" style="color: white;"></span>
             <span class="fa fa-star" style="color: white;"></span>
             <small class="text-muted" style="color:green;">34.6k</small>
	      <div class="description">
	        <small class="text-muted">{{ product.product_description }}</small>
	    	</div>
	      <div class="description">
	        <small class="text-muted">Maximum order: {{ product.max_order}}</small>
	    	</div>
	      <div class="description">
	        <small class="text-muted">One piece: {{ product.one_piece }} Tsh</small>
	    	</div>	
	      <div class="description"><i class="fa fa-truck" aria-hidden="true"></i>
	        <small class="text-muted">Free shiping
	        {{ product.free_shipping1 }},{{ product.free_shipping2 }} </small>
	    	</div>
	    	<a href="{{ url_for('carts')}}"><button type="submit" class="btn btn-outline-primary" id="Cart_btn"><i class="fa fa-cart-plus"></i> Cart
           </button></a>		
	         </div>
	    <div class="col-6">
	    	<div class="col-75">
    <div class="container">
      <form action="/action_page.php">

        <div class="row">
          <div class="col-50">
            <h3 style="color: blue;">Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="john@example.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" name="city" placeholder="New York">

            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="NY">
              </div>
              <div class="col-50">
                <label for="zip">Zip</label>
                <input type="text" id="zip" name="zip" placeholder="10001">
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3 style="color: blue;">Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardname" placeholder="John More Doe">
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="September">

            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Year</label>
                <input type="text" id="expyear" name="expyear" placeholder="2018">
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="352">
              </div>
            </div>
          </div>

        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
       <a href="{{ url_for('carts')}}"><button type="submit" class="btn btn-outline-primary" id="Buy_btn">Continue to Checkout</button></a>
      </form>
    </div>
  </div>
   </div> 
</div>
</br></br>
<center><h3 style="color: gray">Other related products from seller {{product.seller.username}}</h3></center>
<div class="row">
      {% for seller_prod in seller_product %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                    <div class="card h-100">
                          <a href="{{url_for('products',Products_id=seller_prod.id,username=seller_prod.seller.username)}}"> 
                            <div class="card-img-top"
                                 style="background: url('{{ url_for('static',filename='products_images/' + seller_prod.product_image_name) }}'); background-repeat:no-repeat; background-size: cover; height:200px;width:100% ">
                                 </div>
                               </a>   
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{url_for('products',Products_id=seller_prod.id,username=seller_prod.seller.username)}}">{{ seller_prod.product_name }}
                                  </a>         
                                 </h5>
                                 <small class="text-muted" style="color:green;">Rating:</small>
                                 <span class="fa fa-star checked" style="color: orange;"></span>
                                 <span class="fa fa-star checked" style="color: orange;"></span>
                                 <span class="fa fa-star checked" style="color: orange;"></span>
                                 <span class="fa fa-star" style="color: white;"></span>
                                 <span class="fa fa-star" style="color: white;"></span>
                                 <small class="text-muted" style="color:green;">34.6k</small>
                                 <h6 style="color: gray">Max Order:{{ seller_prod.max_order}}</h6>
                                  <h6 style="color: gray">One piece:{{ seller_prod.one_piece }} Tsh</h6>
                                  <h6 style="color: gray">Free shipping <i class="fa fa-truck" aria-hidden="true"></i>
                                    <ul>
                                      <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{ seller_prod.free_shipping1 }}</li>
                                      <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{ seller_prod.free_shipping2 }}</li>
                                    </ul>
                                  </h6>
                                    <a href="{{url_for('products',Products_id=seller_prod.id,username=seller_prod.seller.username)}}"><button type="button"  class="btn btn-outline-primary" id="Buy_btn">Buy
                                    </button></a>
                                    <a href="{{ url_for('carts')}}"><button type="submit" class="btn btn-outline-primary" id="Cart_btn"><i class="fa fa-cart-plus"></i>
                                    Cart</button></a>     
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
      {% endfor %}
  </div> 
</div>
<!--<nav class="navbar sticky-bottom navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Fixed bottom</a>
</nav>--->
<script type="text/javascript"  href= "{{ url_for('static',filename='js/TniteShop.js') }}"></script>   
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>





