<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/my_shop.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
   {% if title %}
        <title>AzizShop | {{ title }}</title>
    {% else %}
        <title>TniteShop</title>
    {% endif %}
</head>
<style type="text/css">
      .card{
        background-color: black;
      }
    </style>
<body>
<div class="wrapper">
    <div class="sidebar">
      <h2>AzizShop</h2>
         <a href="{{url_for('Account_setting')}}"><img class="rounded-circle account-img" src="{{url_for('static',filename='Users_profiles/' + current_user.profile) }}"></a>
         <center><h4>{{current_user.username}}</h4></center>
        
        <ul>
            <li><a href="{{ url_for('home')}}"><i class="fas fa-home"></i>Home</a></li>
            
            <li><a href="{{url_for('create_product')}}"><i class="fas fa-plus"></i>Create product</a></li>

            <li><a href="#"><i class="fas fa-comment"></i>Messages</a></li>

            <li><a href="#"><i class="fas fa-shopping-bag"></i>Edit shop details</a></li>
        </ul> 
         <small class="text-muted">
            Followers :<a class="ml-2"style="color: green;">1</a> 
         </small></br>
         <small class="text-muted">
            Following :<a class="ml-2"style="color: green;">50</a> 
         </small></br>
         <small class="text-muted">
            Total product :<a class="ml-2"style="color: green;">50</a> 
         </small></br>
         <small class="text-muted">
            Sold out product :<a class="ml-2"style="color: green;">20</a> 
         </small>
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="main_content">
       {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
             {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    <strong>{{ category }}!.....</strong>
                            {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
              {% endfor %}
         {% endif %}
      {% endwith %}
   
{% block content %}
<div class="col-md-4 col-sm-6" id="register" style="max-width:500px;margin:auto;">
<div class="content-section" style="color: #fafafa">
	<form method="POST" action="" enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	<fieldset class="form-group">
		<legend class="border-bottom mb-4" style="color: gray">Update your product</legend>
		<div class="form-group">
			{{ form.product_name.label(class="form-control-label") }}
			{% if form.product_name.errors %}
			    {{ form.product_name(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
            		{% for error in form.product_name.errors %}
            				<span>{{ error }}</span>
            		{% endfor %}
            		</div>
            {% else %}
               {{ form.product_name(class="form-control form-control-lg is-invalid") }}
            {% endif %}
		</div>
		<div class="form-group">
			{{ form.product_category.label(class="form-control-label") }}
			{% if form.product_category.errors %}
			     {{ form.product_category(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
            				{% for error in form.product_category.errors %}
            					<span>{{ error }}</span>
            				{% endfor %}
            		</div>
            {% else %}
                 {{ form.product_category(class="form-control form-control-lg is-invalid") }}
            {% endif %}     
		</div>
		<div class="form-group">
			{{ form.max_order.label(class="form-control-label") }}
			{% if form.max_order.errors %}
			     {{ form.max_order(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
            				{% for error in form.max_order.errors %}
            					<span>{{ error }}</span>
            				{% endfor %}
            		</div>
            {% else %}
                 {{ form.max_order(class="form-control form-control-lg is-invalid") }}
            {% endif %}     
		</div>
		<div class="form-group">
			{{ form.one_piece.label(class="form-control-label") }}
			{% if form.one_piece.errors %}
			     {{ form.one_piece(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
            				{% for error in form.one_piece.errors %}
            					<span>{{ error }}</span>
            				{% endfor %}
            		</div>
            {% else %}
                 {{ form.one_piece(class="form-control form-control-lg is-invalid") }}
            {% endif %}     
		</div>
			<div class="form-group">
			{{ form.free_shipping1.label(class="form-control-label") }}
			{% if form.free_shipping1.errors %}
			     {{ form.free_shipping1(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
            				{% for error in form.free_shipping1.errors %}
            					<span>{{ error }}</span>
            				{% endfor %}
            		</div>
            {% else %}
                 {{ form.free_shipping1(class="form-control form-control-lg is-invalid") }}
            {% endif %}     
		</div>
		<div class="form-group">
			{{ form.free_shipping2.label(class="form-control-label") }}
			{% if form.free_shipping2.errors %}
			     {{ form.free_shipping2(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
            				{% for error in form.free_shipping2.errors %}
            					<span>{{ error }}</span>
            				{% endfor %}
            		</div>
            {% else %}
                 {{ form.free_shipping2(class="form-control form-control-lg is-invalid") }}
            {% endif %}     
		</div>
			
		<div class="form-group">
			{{ form.product_description.label(class="form-control-label") }}
			{% if form.product_description.errors %}
			     {{ form.product_description(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
            				{% for error in form.product_description.errors %}
            					<span>{{ error }}</span>
            				{% endfor %}
            		</div>
            {% else %}
                 {{ form.product_description(class="form-control form-control-lg is-invalid") }}
            {% endif %}     
		</div>
        <div class="form-group">
            {{ form.product_image.label() }}
            {{ form.product_image(class='form-control-file') }}
            {% if form.product_image.errors %}
                {% for error in form.product_image.errors %}
                       <span class="text-danger">{{ error }}</span></br>
               {% endfor %}
            {% endif %}
        </div>
		</fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-primary", id="submit") }}
			</div>	
			</form>
</div>

{% endblock content%}
      
</div>
</div>
</div>
</div>
<nav class="navbar sticky-bottom navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Fixed bottom</a>
</nav>
<script type="text/javascript"  href= "{{ url_for('static',filename='js/TniteShop.js') }}"></script>   
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>


